* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

h1 {
	font-size: 37px;
}

h2 {
	font-size: 22px;
	font-weight: normal;
}

p {
	font-size: 15px;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Colors */
@dark-gray: #4C545A;
@light-gray: #8899A7;
@dropbox-blue: #007EE5;

.basic-button-light {
	color: @dropbox-blue;
	font-size: 18px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: white;
	text-align: center;
}

.basic-button-dark {
	color: white;
	font-size: 18px;
	border-radius: 4px;
	border: 1px solid black;
	background-color: @dropbox-blue;
	text-align: center;
}

/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0px 30px 0px 30px;
}

.container-home {
	color: #FFFFFF;
	height: 500px;
	overflow: hidden;
	background: @dropbox-blue url('../../assets/dropbox-for-business-files.png') no-repeat;
	background-position: 0px 500px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.home-links {
		.dropbox-glyph {
			margin-top: 50px;
			margin-bottom: 55px;
		}

		ul {
			font-size: 15px;
			list-style: none;
			li {
				margin-bottom: 10px;
			}
			.active {
				font-weight: bold;
			}
		}
	}
	.home-main {
		margin-top: 120px;
		margin-left: -4.5%;
		text-align: center;
		vertical-align: middle;
		.home-headline {
			font-weight: 300;
			margin-bottom: 25px;
		}
		.home-subhead {
			margin-bottom: 30px;
		}
		.home-button {
			padding: 15px 100px;
			margin-bottom: 30px;
		}
		.home-subhead-end {
			a {
				text-decoration: underline;
			}
		}
	}
}

.container-why {
	min-height: 600px;
	border-bottom: 1px solid @light-gray;
	color: @light-gray;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 50px;
	
	h2 {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 30px;
	}

	img {
		width: 200px;
		height: 182px;
		margin-bottom: 20px;
	}
	.why-header {
		margin-bottom: 40px;
	}
	.why-power, .why-security, .why-investment {
		img {
			opacity: 0;
			position: relative;
		}
		p {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.basic-button-light {
		margin-top: 45px;
		padding: 10px 40px;
	}
	@media (max-width: 768px) {
		.why-power, .why-security {
			border-bottom: 1px solid #d3d3d3;
			margin-bottom: 30px;
		}
		.basic-button-light {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}

@-webkit-keyframes leftTransition {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px) scale(0.5);
    transform: translateX(-200px) scale(0.5);
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }

  60% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }

  75% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  90% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes leftTransition {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		-moz-opacity: 0;
		opacity: 0;
		-webkit-transform: translate3d(-100px);
		transform: translateX(-100px);
	}

	60% {
		-webkit-transform: translateX(25px);
		transform: translateX(25px);
	}

	75% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}

	90% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}

	100% {
		-moz-opacity: 1;
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.leftTransition {
	-webkit-animation-name: leftTransition;
	animation-name: leftTransition;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.container-team {
	height: 800px;
	text-align: center;
	color: @light-gray;
	.team-header {
		margin-top: 30px;
	}
	.carousel-images {
		margin-top: 65px;
		#slides {
			margin-left: auto;
			margin-right: auto;
			list-style: none;
			position: relative;
			@media (min-width: 768px) {
				width: 100%;
			}
			@media (max-width: 767px) {
				width: 550px;
				height: 310px;
			}
		}
		#slides img {
			position: absolute;
			top: 0;
			left: 0;
			@media (min-width: 768px) {
				width: 100%;
			}
			@media (max-width: 767px) {
				width: 540px;
				height: 300px;
			}
		}
	}
	.carousel-left-arrow {
		padding-top: 150px;
		button {
			background: none;
			border: none;
			cursor: pointer;
		}
	}
	.carousel-right-arrow {
		padding-top: 150px;
		button {
			background: none;
			border: none;
			cursor: pointer;
		}
	}
	.carousel-nav {
		clear: both;
		@media (min-width: 767px) {
			margin-top: 350px;
		}
		#nav-items {
			list-style: none;
			padding: 0;
			margin-top: 10px;
		}
		#nav-items li {
			display: inline-block;
			border-radius: 10px;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			background: @dropbox-blue;
			cursor: pointer;
		}
		#nav-items li.active {
			background: @light-gray;
		}
	}
	.carousel-description {
		margin-top: 55px;
	}
	.basic-button-light {
		margin-top: 55px;
		padding: 10px 40px;
	}
}

.container-video {
	color: @light-gray;
	min-height: 600px;
	padding: 0;
	.video-headline {
		margin-bottom: 80px;
	}
	.video-full{
		padding-top: 60px;
		background: url('../../assets/video-still.jpg') no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;

	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		.video-full {
			background: url('../../assets/video-still@2x.jpg') no-repeat center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height: 100%;
		}
	}
	.play-button {
		width: 106px;
		height: 106px;
	}
	.video-modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.video-modal:target {
		opacity:1;
		pointer-events: auto;
	}

	.video-modal > div {
		width: 60%;
		position: relative;
		margin: 10% auto;
		background: #000;
	}
	.video-modal video {
		width: 90%;
		max-width: 640px;
		max-height: 360px;
	}
	.close {
		background: #606061;
		color: #FFFFFF;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}
	.close:hover { background: @light-gray; }
}

.container-sync {
	border-bottom: 1px solid @light-gray;
	color: @light-gray;
	margin-top: 40px;
	min-height: 300px;
	.basic-button-dark {
		margin-top: 50px;
		margin-bottom: 50px;
		padding: 15px 100px;
	}
}

.container-footer {
	min-height: 200px;
	margin-top: 50px;
	.footer-list {
		list-style: none;
		font-size: 13px;
		font-weight: normal;
		line-height: 25px;
		color: @dark-gray;
		.category {
			font-weight: bold;
		}
	}
}

/* Bootstrap */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	float: left;
  }
  .col-sm-12 {
	width: 100%;
  }
  .col-sm-11 {
	width: 91.66666667%;
  }
  .col-sm-10 {
	width: 83.33333333%;
  }
  .col-sm-9 {
	width: 75%;
  }
  .col-sm-8 {
	width: 66.66666667%;
  }
  .col-sm-7 {
	width: 58.33333333%;
  }
  .col-sm-6 {
	width: 50%;
  }
  .col-sm-5 {
	width: 41.66666667%;
  }
  .col-sm-4 {
	width: 33.33333333%;
  }
  .col-sm-3 {
	width: 25%;
  }
  .col-sm-2 {
	width: 16.66666667%;
  }
  .col-sm-1 {
	width: 8.33333333%;
  }
  .col-sm-pull-12 {
	right: 100%;
  }
  .col-sm-pull-11 {
	right: 91.66666667%;
  }
  .col-sm-pull-10 {
	right: 83.33333333%;
  }
  .col-sm-pull-9 {
	right: 75%;
  }
  .col-sm-pull-8 {
	right: 66.66666667%;
  }
  .col-sm-pull-7 {
	right: 58.33333333%;
  }
  .col-sm-pull-6 {
	right: 50%;
  }
  .col-sm-pull-5 {
	right: 41.66666667%;
  }
  .col-sm-pull-4 {
	right: 33.33333333%;
  }
  .col-sm-pull-3 {
	right: 25%;
  }
  .col-sm-pull-2 {
	right: 16.66666667%;
  }
  .col-sm-pull-1 {
	right: 8.33333333%;
  }
  .col-sm-pull-0 {
	right: auto;
  }
  .col-sm-push-12 {
	left: 100%;
  }
  .col-sm-push-11 {
	left: 91.66666667%;
  }
  .col-sm-push-10 {
	left: 83.33333333%;
  }
  .col-sm-push-9 {
	left: 75%;
  }
  .col-sm-push-8 {
	left: 66.66666667%;
  }
  .col-sm-push-7 {
	left: 58.33333333%;
  }
  .col-sm-push-6 {
	left: 50%;
  }
  .col-sm-push-5 {
	left: 41.66666667%;
  }
  .col-sm-push-4 {
	left: 33.33333333%;
  }
  .col-sm-push-3 {
	left: 25%;
  }
  .col-sm-push-2 {
	left: 16.66666667%;
  }
  .col-sm-push-1 {
	left: 8.33333333%;
  }
  .col-sm-push-0 {
	left: auto;
  }
  .col-sm-offset-12 {
	margin-left: 100%;
  }
  .col-sm-offset-11 {
	margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
	margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
	margin-left: 75%;
  }
  .col-sm-offset-8 {
	margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
	margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
	margin-left: 50%;
  }
  .col-sm-offset-5 {
	margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
	margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
	margin-left: 25%;
  }
  .col-sm-offset-2 {
	margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
	margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
	margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left;
  }
  .col-md-12 {
	width: 100%;
  }
  .col-md-11 {
	width: 91.66666667%;
  }
  .col-md-10 {
	width: 83.33333333%;
  }
  .col-md-9 {
	width: 75%;
  }
  .col-md-8 {
	width: 66.66666667%;
  }
  .col-md-7 {
	width: 58.33333333%;
  }
  .col-md-6 {
	width: 50%;
  }
  .col-md-5 {
	width: 41.66666667%;
  }
  .col-md-4 {
	width: 33.33333333%;
  }
  .col-md-3 {
	width: 25%;
  }
  .col-md-2 {
	width: 16.66666667%;
  }
  .col-md-1 {
	width: 8.33333333%;
  }
  .col-md-pull-12 {
	right: 100%;
  }
  .col-md-pull-11 {
	right: 91.66666667%;
  }
  .col-md-pull-10 {
	right: 83.33333333%;
  }
  .col-md-pull-9 {
	right: 75%;
  }
  .col-md-pull-8 {
	right: 66.66666667%;
  }
  .col-md-pull-7 {
	right: 58.33333333%;
  }
  .col-md-pull-6 {
	right: 50%;
  }
  .col-md-pull-5 {
	right: 41.66666667%;
  }
  .col-md-pull-4 {
	right: 33.33333333%;
  }
  .col-md-pull-3 {
	right: 25%;
  }
  .col-md-pull-2 {
	right: 16.66666667%;
  }
  .col-md-pull-1 {
	right: 8.33333333%;
  }
  .col-md-pull-0 {
	right: auto;
  }
  .col-md-push-12 {
	left: 100%;
  }
  .col-md-push-11 {
	left: 91.66666667%;
  }
  .col-md-push-10 {
	left: 83.33333333%;
  }
  .col-md-push-9 {
	left: 75%;
  }
  .col-md-push-8 {
	left: 66.66666667%;
  }
  .col-md-push-7 {
	left: 58.33333333%;
  }
  .col-md-push-6 {
	left: 50%;
  }
  .col-md-push-5 {
	left: 41.66666667%;
  }
  .col-md-push-4 {
	left: 33.33333333%;
  }
  .col-md-push-3 {
	left: 25%;
  }
  .col-md-push-2 {
	left: 16.66666667%;
  }
  .col-md-push-1 {
	left: 8.33333333%;
  }
  .col-md-push-0 {
	left: auto;
  }
  .col-md-offset-12 {
	margin-left: 100%;
  }
  .col-md-offset-11 {
	margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
	margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
	margin-left: 75%;
  }
  .col-md-offset-8 {
	margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
	margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
	margin-left: 50%;
  }
  .col-md-offset-5 {
	margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
	margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
	margin-left: 25%;
  }
  .col-md-offset-2 {
	margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
	margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
	margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
  }
  .col-lg-12 {
	width: 100%;
  }
  .col-lg-11 {
	width: 91.66666667%;
  }
  .col-lg-10 {
	width: 83.33333333%;
  }
  .col-lg-9 {
	width: 75%;
  }
  .col-lg-8 {
	width: 66.66666667%;
  }
  .col-lg-7 {
	width: 58.33333333%;
  }
  .col-lg-6 {
	width: 50%;
  }
  .col-lg-5 {
	width: 41.66666667%;
  }
  .col-lg-4 {
	width: 33.33333333%;
  }
  .col-lg-3 {
	width: 25%;
  }
  .col-lg-2 {
	width: 16.66666667%;
  }
  .col-lg-1 {
	width: 8.33333333%;
  }
  .col-lg-pull-12 {
	right: 100%;
  }
  .col-lg-pull-11 {
	right: 91.66666667%;
  }
  .col-lg-pull-10 {
	right: 83.33333333%;
  }
  .col-lg-pull-9 {
	right: 75%;
  }
  .col-lg-pull-8 {
	right: 66.66666667%;
  }
  .col-lg-pull-7 {
	right: 58.33333333%;
  }
  .col-lg-pull-6 {
	right: 50%;
  }
  .col-lg-pull-5 {
	right: 41.66666667%;
  }
  .col-lg-pull-4 {
	right: 33.33333333%;
  }
  .col-lg-pull-3 {
	right: 25%;
  }
  .col-lg-pull-2 {
	right: 16.66666667%;
  }
  .col-lg-pull-1 {
	right: 8.33333333%;
  }
  .col-lg-pull-0 {
	right: auto;
  }
  .col-lg-push-12 {
	left: 100%;
  }
  .col-lg-push-11 {
	left: 91.66666667%;
  }
  .col-lg-push-10 {
	left: 83.33333333%;
  }
  .col-lg-push-9 {
	left: 75%;
  }
  .col-lg-push-8 {
	left: 66.66666667%;
  }
  .col-lg-push-7 {
	left: 58.33333333%;
  }
  .col-lg-push-6 {
	left: 50%;
  }
  .col-lg-push-5 {
	left: 41.66666667%;
  }
  .col-lg-push-4 {
	left: 33.33333333%;
  }
  .col-lg-push-3 {
	left: 25%;
  }
  .col-lg-push-2 {
	left: 16.66666667%;
  }
  .col-lg-push-1 {
	left: 8.33333333%;
  }
  .col-lg-push-0 {
	left: auto;
  }
  .col-lg-offset-12 {
	margin-left: 100%;
  }
  .col-lg-offset-11 {
	margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
	margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
	margin-left: 75%;
  }
  .col-lg-offset-8 {
	margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
	margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
	margin-left: 50%;
  }
  .col-lg-offset-5 {
	margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
	margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
	margin-left: 25%;
  }
  .col-lg-offset-2 {
	margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
	margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
	margin-left: 0;
  }
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

.text-center {
	text-align: center;
}

.hidden-xs {
	@media (max-width: 767px) {
		display: none;
	}
}